@font-face {
    font-family: 'vw_text_officebold';
    src: url('/Nivus-I-HTML/css/fonts/VWTextOffice-Bold.ttf');
    

    font-family: 'VWTextOffice-Regular';
    src: url('/Nivus-I-HTML/css/fonts/VWTextOffice-Regular.ttf');
    
}

.primary-title{
    font-family: 'VWTextOffice-Regular';
    text-align: left;
    font-size: 1em;
}
.column_attr clearfix{
    font-family: 'VWTextOffice-Bold';
}
.no-line{
    display: flex;
}